<template>
  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <projects :currentView="currentView"></projects>
        <li :class="['start', currentView == 'News' ? 'active' : '']">
          <router-link to="/about">
            <span class="title">О проекте</span>
            <span class="selected"></span>
          </router-link>
        </li>
      <!--  <li class="start">
          <a>
            <span class="title">Общее</span>
          </a>
        </li>-->
      </ul>
    </div>
  </div>
</template>
<script>
  import projects from './projects.vue'

  export default {
    components: {projects},
    data () {
      return {
        currentView: 'News'
      }
    },
    watch: {
      '$route' (to, from) {
        this.currentView = this.$route.name
      }
    },
    created () {
      this.currentView = this.$route.name
    }
  }
</script>
