<template>
  <li :class="['start', isProjectSection ? 'active' : '']">
    <router-link to="/projects">
      <span class="title">Проекты</span>
      <span class="selected"></span>
      <!--   <i class="fa fa-plus"></i>-->
    </router-link>
    <!--<ul class="sub-menu" style="display: block;">
      <project-item v-for="project in projects" :key="project.id" :project="project"
                    :currentProjectId="currentProjectId"></project-item>
    </ul>-->
  </li>
</template>
<script>
  import projectItem from './project-item'
  export default {
    props: ['currentView'],
    components: {projectItem},
    data () {
      return {
        projects: []
      }
    },
    created () {
     /* this.$http.get('/api/projects').then(response => {
        this.projects = response.body;
      }, response => {
        // error callback
      });*/
    },
    computed: {
      currentProjectId () {
        if (this.currentView === 'ProjectsDetails' || this.currentView === 'Summary') {
          return this.$route.params.projectId
        } else {
          return null
        }
      },
      isProjectSection() {
        return (['NewProject', 'Summary', 'Projects', 'ProjectsDetails'].indexOf(this.currentView) > -1)
      }
    }
  }
</script>
