<template>
  <li :class="[currentProjectId == project.id ? 'active' : '']">
    <router-link :to="{ name: 'ProjectsDetails', params: { projectId: project.id }}">
      {{ project.name }}
    </router-link>
  </li>
</template>
<script>
  export default {
    props: ['project', 'currentProjectId'],
    data () {
      return {
        active: false
      }
    }
  }
</script>
