<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Страницы сайта с высоким показателем отказа</span>
        </div>
      </div>
      <div class="portlet-body">
        <div v-if="pages.length > 0">
          <div class="table-scrollable">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Url</th>
                <th>Количество переходов</th>
                <th>Среднее время на странице</th>
                <th>Показатель отказов</th>
                <th v-if="isGoal">Конверсия</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="page in pages">
                <td>{{page.siteName}}</td>
                <td>{{page.visits}}</td>
                <td>{{page.bounceRate.toFixed(2)}}</td>
                <td>{{page.avgVisitDurationSeconds.toFixed(2)}}</td>
                <td v-if="isGoal">{{page.conversion.toFixed(2)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div v-else>
          <h2 class="text-center">Нет данных для подготовки отчета</h2>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['pagesWithHighFailureRateReport', 'isGoal'],
    computed: {
      pages()
      {
        return this.pagesWithHighFailureRateReport.metrics
      }
    }
  }
</script>
