<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet">
      <div class="portlet-title_border-killer portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Ваши проекты </span>
        </div>
        <div class="actions">
          <router-link to="/projects/new" class="btn btn-sm btn-circle btn green easy-pie-chart-reload">
            <i class="fa fa-plus"></i> Добавить проект
          </router-link>
        </div>
      </div>
      <div class="portlet-body">
        <project v-for="project in projects" :key="project.id" :project="project"></project>
      </div>
    </div>
    <div class="portlet light" v-if="hasNotProjects">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Добавление первого проекта</span>
        </div>
      </div>
      <div class="portlet-body form">
        Добро пожаловать в DigitalReactor! Перед началом работы необходимо добавить проект.
        Нажмите на кнопку <b>"+ Добавить проект"</b>, расположенную в верхней части экрана.
        Затем выполните действия по подключению нового аккаунта Яндекс.Метрики. После чего выберите появившийся счётчик.
      </div>
    </div>
  </div>
</template>
<script>
  import projectItem from './project-item'
  export default {
    components: {
      'project': projectItem
    },
    data () {
      return {
        projects: [],
        hasNotProjects: false
      }
    },
    created() {
      this.$Progress.start();
      this.$http.get('/api/projects').then(response => {
        this.projects = response.body;
        this.$Progress.finish();
        if (this.projects.length === 0) {
          this.hasNotProjects = true;
        }
      }, response => {
        this.$Progress.fail();
      });
    }
  }
</script>
<style>
  .portlet-title_border-killer {
    border-bottom: none !important;
  }
</style>
