<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Проект: "{{ project.name }}"</span>
        </div>
      </div>
      <div class="portlet-body">
        <p>
          Для анализа эффективности Вашей рекламной кампании воспользуйтесь нашими отчетами. Отчеты показывают данные, на которые стоит обратить внимание. Следите за динамикой Вашего роста вместе с нами.</p>
      </div>
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <i class="icon-globe font-green-sharp"></i>
          <span class="caption-subject bold font-dark uppercase">Список отчётов яндекс метрики</span>
        </div>
        <div class="actions">
          <button v-on:click="newSummary" :disabled="loadNewSummaryDisabled"
                  class="btn btn-sm btn-circle btn green easy-pie-chart-reload">
            <i class="fa fa-repeat"></i> Запросить отчёт
          </button>
        </div>
      </div>
      <div class="portlet-body">
        <summaries :summaries="summaries"></summaries>
      </div>
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Доступные источники данных</span>
        </div>
      </div>
      <div class="portlet-body">
        <img src="/static/images/metrika.png" width="200px"/>
      </div>
    </div>
  </div>
</template>
<script>
  import {each, find} from 'lodash'
  import summaries from './summaries.vue'
  export default {
    components: {
      'summaries': summaries
    },
    data () {
      return {
        project: {},
        loadNewSummaryDisabled: false,
        summaries: [],
        interval: null
      }
    },
    created() {
      this.loadProject();
      this.loadSummaries();
    },
    methods: {
      newSummary: function () {
        this.loadNewSummaryDisabled = true;
        this.$http.post('/api/projects/' + this.$route.params.projectId + '/summaries').then(response => {
          this.loadNewSummaryDisabled = false;
          this.loadSummaries();
        }, response => {
          // error callback
          this.loadNewSummaryDisabled = false;
        })
      },
      loadSummaries: function () {
        this.$http.get('/api/projects/' + this.$route.params.projectId + '/summaries').then(response => {
          this.summaries = response.body;

          const loadingSummary = find(this.summaries, function (o) {
            return o.status === 'NEW' || o.status === 'LOADING';
          });

          if (loadingSummary && this.interval === null) {
            this.interval = setInterval(function () {
              this.loadSummaries();
            }.bind(this), 2000);
          }

          if (!loadingSummary && this.interval !== null) {
            clearInterval(this.interval);
            this.interval = null;
          }
        }, response => {
          // error callback
        });
      },
      loadProject: function () {
        this.$http.get('/api/projects/' + this.$route.params.projectId).then(response => {
          this.project = response.body;
        }, response => {
          // error callback
        });
      }
    },
    watch: {
      '$route' (to, from) {
        this.loadProject();
        this.loadSummaries();
      }
    },
    beforeDestroy: function () {
      clearInterval(this.interval);
      this.interval = null;
    }
  }
</script>
