<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <div class="project-preview">
    <div class="project-preview__header project-preview_blue">
      <div class="project-preview__name">
        <h3>
          {{project.name}}
        </h3>
      </div>
    </div>
    <div v-if="!loading" class="project-preview__body project-preview_white">
      <div class="project-preview__description">
        Отчёт по проекту за {{summary.date}} успешно построен.
      </div>
      <div class="project-preview__notification">
        <label> <input type="checkbox" v-model="notifiable"
                       v-on:click="notify"> Еженедельная нотификация</label>
      </div>
      <div class="project-preview__refresh" v-on:click="reload" :disabled="loadNewSummaryDisabled">
        <i class="fa fa-refresh"></i> обновить отчёт
      </div>

      <div class="project-preview__summary-link">
        <router-link v-if="summary.status == 'COMPLETED'"
                     :to="{ name: 'Summary', params: { projectId: project.id, summaryId: summary.id}}">
          <button type="button" class="btn blue">Смотреть</button>
        </router-link>
      </div>
    </div>
    <div v-if="loading" class="project-preview__body project-preview_white">
      <div class="loader project-preview_loader">Loading...</div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['project'],
    data() {
      return {
        loading: true,
        interval: null,
        loadNewSummaryDisabled: false,
        summary: null,
        notifiable: this.project.notifiable
      }
    },
    created() {
      this.loadSummaries();
    },
    methods: {
      loadSummaries: function () {
        this.$http.get('/api/projects/' + this.project.id + '/summaries/last').then(response => {
          this.summary = response.body;

          const status = this.summary.status;
          const loadingSummary = status === 'NEW' || status === 'LOADING';

          if (loadingSummary && this.interval === null) {
            this.interval = setInterval(function () {
              this.loadSummaries();
            }.bind(this), 2000);
            this.loading = true;
          }

          if (!loadingSummary && this.interval !== null) {
            clearInterval(this.interval);
            this.interval = null;
          }

          if (this.interval === null) {
            this.loading = false;
          }
        }, response => {
          // error callback
        });
      },
      reload: function () {
        this.$Progress.start();
        this.loadNewSummaryDisabled = true;
        this.$http.post('/api/projects/' + this.project.id + '/summaries').then(response => {
          this.loadNewSummaryDisabled = false;
          this.loadSummaries();
          this.$Progress.finish();
        }, response => {
          this.$Progress.fail();
          this.loadNewSummaryDisabled = false;
        })
      },
      notify: function () {
        this.$Progress.start();
        this.$http.put('/api/projects/' + this.project.id + '/notifiable/', {"notifiable": !this.notifiable})
          .then(
            response => {
              this.$Progress.finish();
            },
            error => {
              this.$Progress.fail();
            }
          );
      }
    },
    beforeDestroy: function () {
      clearInterval(this.interval);
      this.interval = null;
    }
  }
</script>
<style>
  .project-preview {
    position: relative;
    margin-bottom: 30px;
  }

  .project-preview__header {
    height: 55px;
    padding: 15px;
    width: 100%;
  }

  .project-preview__header h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .project-preview__body {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #e7ecf1;
    padding: 15px;
    position: relative;
    height: 80px;
  }

  .project-preview_blue {
    background: #44b6ae;
    color: #fff;
  }

  .project-preview__summary-link {
    position: absolute;
    right: 15px;
    top: 23px;

  }

  .project-preview__description {
    position: absolute;
    left: 15px;
    top: 30px;
  }

  .project-preview__notification {
    position: absolute;
    right: 300px;
    top: 30px;
  }

  .project-preview__notification input {
    vertical-align: -2px;
  }

  .project-preview__refresh {
    position: absolute;
    top: 30px;
    right: 150px;
    cursor: pointer;
  }

  .project-preview__status i {
    font-size: 18px;
  }

  .project-preview_white {
    background-color: #fff;
  }

  .project-preview_loader {
    position: absolute;
    left: 50%;
    top: 30px;
    font-size: 7px;
  }
</style>
