<template>
  <ul class="feeds">
    <summary-item v-for="s in summaries" :key="s.id" :summary="s"></summary-item>
    <br>
  </ul>
</template>
<script>
  import summary from './summary-item.vue'

  export default {
    props: ['summaries'],
    components: {
      'summary-item': summary
    },
    data() {
      return {
      }
    }
  }
</script>
