<template>
  <li>
    <div class="summary-info-row">
      <div class="summary-info-row__icon">
        <div :class="['summary-info-row_label', status.color]">
          <i class="fa fa-check"></i>
        </div>
      </div>
      <div class="summary-info-row__message">
        Отчёт за {{summary.date}}
        <span v-if="summary.status == 'COMPLETED'"> успешно построен.</span>
        <span v-if="summary.status == 'LOADING' || summary.status == 'NEW'"> загружается.</span>
        <span v-if="summary.status == 'BROKEN'"> не удалось построить, мы уже работаем над этим.</span>
      </div>
      <div class="summary-info-row__navigation">
        <router-link v-if="summary.status == 'COMPLETED'"
                     :to="{ name: 'Summary', params: { projectId: projectId, summaryId: summaryId}}">
          <button type="button" class="btn blue summary-info-row_size">смотреть</button>
        </router-link>
        <button v-if="summary.status == 'LOADING' || summary.status == 'NEW'" type="button"
                class="btn default disabled summary-info-row_size">подождите...
        </button>
        <button v-if="summary.status == 'BROKEN'" type="button" class="btn red disabled summary-info-row_size">
          что-то пошло не так
        </button>
      </div>
    </div>
  </li>
</template>
<script>

  const statusEnum = {
    'NEW': {
      icon: '',
      color: 'label-info'
    },
    'LOADING': {
      icon: '',
      color: 'label-default'
    },
    'COMPLETED': {
      icon: '',
      color: 'label-success'
    },
    'BROKEN': {
      icon: '',
      color: 'label-danger'
    }
  };

  export default {
    props: ['summary'],
    data() {
      return {}
    },
    computed: {
      status() {
        return statusEnum[this.summary.status];
      },
      projectId() {
        return this.$route.params.projectId
      },
      summaryId() {
        return this.summary.id
      }
    }
  }
</script>
<style>
  .summary-info-row {
    position: relative;
    height: 30px;
    width: 100%;
  }

  .summary-info-row__icon {
    position: absolute;
  }

  .summary-info-row__message {
    position: absolute;
    left: 40px;
    top: 5px;
  }

  .summary-info-row__navigation {
    position: absolute;
    right: 0;
    top: 3px;
  }

  .summary-info-row_label {
    height: 30px;
    width: 30px;
  }

  .summary-info-row_size {
    height: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
</style>
