<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Площадки РСЯ с низкими показателями</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
            <span style="font-size: 14px">
              В этом отчете вы можете видеть площадки с низкими показателями.
              Эти площадки принадлежат Рекламной Сети Яндекса, и на них были показаны ваши рекламные материалы.
              При необходимости вы можете отключить площадки в интерфейсе Яндекс.Директа.
            </span>
          </div>
        </div>
        <div v-if="advertisingNetworkReport.badAreas.length > 0">
          <div class="table-scrollable">
            <table class="table table-striped table-hover">
              <thead>
              <tr>
                <th>Площадка</th>
                <th>Визиты</th>
                <th>Отказы</th>
                <th>Глубина просмотра</th>
                <th>Время на сайте</th>
                <th v-if="isGoal">Конверсия</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="badArea in advertisingNetworkReport.badAreas">
                <td>{{badArea.searchAreaName}}</td>
                <td>{{badArea.visits}}</td>
                <td>{{badArea.bounceRate.toFixed(2)}}</td>
                <td>{{badArea.pageDepth.toFixed(2)}}</td>
                <td>{{badArea.avgVisitDurationSeconds.toFixed(2)}}</td>
                <td v-if="isGoal">{{badArea.conversion.toFixed(2)}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div v-else>
          <h2 class="text-center">Нет данных для подготовки отчета</h2>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['advertisingNetworkReport', 'isGoal'],
  }
</script>
