<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div>
    <link href="/static/css/v2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/page/registration.css" rel="stylesheet" type="text/css"/>
    <div class="container">
      <div class="row text-center logo-text">
        <h1>Digital Reactor</h1>
      </div>
      <div v-if="error != null">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 nopadding">
            <div class="note note-danger">
              <h4 class="block">{{error.title}}</h4>
              <p> {{error.message}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
          <div v-if="start">
            <div>
              <h2>Сброс пароля</h2>
            </div>
            <div>
              <p>Введите ваш email. На него будет выслан пароль.</p>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="email" class="control-label">Email:</label>
                  <input id="email" type="email" class="form-control" placeholder="Ваша почта" v-model="email">
                  <br>
                  <button type="button" class="btn green-meadow"
                          v-on:click="reset">Сбросить пароль
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div v-if="!start">
            <div>
              <h2>Завершение</h2>
            </div>
            <div>
              <p>
                Ваш пароль был сброшен и отправлен на почту.
              </p>
            </div>
            <div>
              <a href="/login.html">
                <button type="button" class="btn green-meadow">Перейти к отчёту</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        start: true,
        error: null
      }
    },
    methods: {
      reset : function() {
        this.$http.post('/api/users/password/reset', {"email" : this.email})
          .then(response => {
            this.start = false
          }, err => {
            this.error = {
              title: "Ошибка при сбрасывании пароля",
              message: "Повторите попытку ввода или обратитесь в службу поддержки."
            };
          });
      }
    }
  }
</script>
<style>
</style>
