<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Источники переходов на сайт</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="report-referring-sources">
          <vue-chart
            chart-type="Line"
            :columns="columns"
            :rows="metrics"
            :options="options"
          ></vue-chart>
        </div>
        <div class="table-scrollable">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Источник</th>
              <th>Визиты</th>
              <th v-if="isGoal">Целевые визиты</th>
              <th v-if="isGoal">Конверсия</th>
            </tr>
            </thead>
            <tbody>

            <tr v-for="referringSource in referringSources">
              <td>{{referringSource.name}}</td>
              <td>{{referringSource.totalVisits}} (
                <percent-painter :number="referringSource.totalVisitsChangePercent"></percent-painter>
                )
              </td>
              <td v-if="isGoal">{{referringSource.totalGoalVisits}} (
                <percent-painter :number="referringSource.totalGoalVisitsChangePercent"></percent-painter>
                )
              </td>
              <td v-if="isGoal">
                {{referringSource.conversion.toFixed(2)}}
                (
                <percent-painter :number="referringSource.conversionChangePercent"></percent-painter>
                )
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['referringSourceReport', 'isGoal'],
    data()
    {
      return {
        options: {
          interpolateNulls: true,
          width: 900,
          height: 300
        }
      }
    },
    computed: {
      referringSources() {
        return this.referringSourceReport.sources;
      },
      columns() {
        let sources = this.referringSourceReport.sources;
        var baseColumns = [
          {type: 'string', label: 'Year'},
        ];

        for (let i = 0; i < sources.length; i++) {
          baseColumns.push({type: 'number', label: sources[i].name})
        }

        return baseColumns;
      },
      metrics()
      {
        let sources = this.referringSourceReport.sources;
        let metrics = [];

        for (let i = 0; i < sources[0].metrics.length; i++) {
          let row = [sources[0].metrics[i].date];
          for (let j = 0; j < sources.length; j++) {
            row.push(sources[j].metrics[i].number);
          }

          metrics.push(row);
        }

        return metrics
      }
    }
  }
</script>
<style>
  .report-referring-sources {
    margin-bottom: 25px;
  }
</style>
