<template>
  <div>
    <visitsForTimeIntervalReport
      v-if="reports.visitsReport !== null"
      :visitsForTimeIntervalReport="reports.visitsReport" :isGoal="goalId"
    ></visitsForTimeIntervalReport>
    <referringSourceReport
      v-if="reports.referringReport !== null"
      :referringSourceReport="reports.referringReport" :isGoal="goalId"
    ></referringSourceReport>
    <directSearchPhraseReport
      v-if="reports.directSearchPhraseReport !== null"
      :directSearchPhraseReport="reports.directSearchPhraseReport" :isGoal="goalId"
    ></directSearchPhraseReport>
    <pagesWithHighFailureRateReport
      v-if="reports.pagesReport !== null"
      :pagesWithHighFailureRateReport="reports.pagesReport" :isGoal="goalId"
    ></pagesWithHighFailureRateReport>
    <searchPhraseReport
      v-if="reports.searchPhraseReport != null"
      :searchPhraseReport="reports.searchPhraseReport" :isGole="goalId"
    >
    </searchPhraseReport>
    <advertisingNetworkReport
      v-if="reports.advertisingNetwork !== null"
      :advertisingNetworkReport="reports.advertisingNetwork" :isGoal="goalId"
    ></advertisingNetworkReport>
    <searchEngineOptimizationReport
      v-if="reports.searchEngineOptReport != null"
      :searchEngineOptimizationReport="reports.searchEngineOptReport" :isGoal="goalId"
    >
    </searchEngineOptimizationReport>
  </div>
</template>
<script>
  import {each, find} from 'lodash'
  import directSearchPhraseReport from './directSearchPhraseReport'
  import pagesWithHighFailureRateReport from './pagesWithHighFailureRateReport'
  import visitsForTimeIntervalReport from './visitsForTimeIntervalReport'
  import referringSourceReport from  './referringSourceReport'
  import advertisingNetworkReport from  './yandexAdvertisingNetworkSiteReport'
  import searchEngineOptimizationReport from  './searchEngineOptimizationReport'
  import searchPhraseReport from './searchPhraseReport'

  export default {
    props: ['goalId', 'summaryId', 'types', 'interval'],
    components: {
      'directSearchPhraseReport': directSearchPhraseReport,
      'pagesWithHighFailureRateReport': pagesWithHighFailureRateReport,
      'visitsForTimeIntervalReport': visitsForTimeIntervalReport,
      'referringSourceReport': referringSourceReport,
      'advertisingNetworkReport': advertisingNetworkReport,
      'searchEngineOptimizationReport': searchEngineOptimizationReport,
      'searchPhraseReport': searchPhraseReport
    },
    data() {
      return {
        reports: {
          visitsReport: null,
          referringReport: null,
          directSearchPhraseReport: null,
          pagesReport: null,
          advertisingNetwork: null,
          searchEngineOptReport: null,
          searchPhraseReport: null
        }
      }
    },
    created() {
      this.loadReports();
    },
    methods: {
      loadReports() {
        this.$Progress.start();
        let query = '/api/reports/grouping?summary=' + this.summaryId;
        query += '&types=' + this.types.join();
        query += '&interval=' + this.interval;
        if (this.goalId) {
          query += '&goal=' + this.goalId
        }

        this.$http.get(query).then(response => {
          this.summaries = response.body;

          this.reports = {
            visitsReport: null,
            referringReport: null,
            directSearchPhraseReport: null,
            pagesReport: null,
            advertisingNetwork: null,
            searchEngineOptReport: null,
            searchPhraseReport: null
          };

          each(response.body, report => {
            switch (report.type) {
              case 'DirectSearchPhraseReport':
                this.reports.directSearchPhraseReport = report;
                break;
              case 'PagesWithHighFailureRateReport':
                this.reports.pagesReport = report;
                break;
              case 'VisitsForTimeIntervalReport':
                this.reports.visitsReport = report;
                break;
              case 'ReferringSourceReport':
                this.reports.referringReport = report;
                break;
              case 'YandexAdvertisingNetworkSiteReport':
                this.reports.advertisingNetwork = report;
                break;
              case 'SearchEngineOptimizationReport':
                this.reports.searchEngineOptReport = report;
                break;
              case 'SearchPhraseReport':
                this.reports.searchPhraseReport = report;
                break;
            }
          });
          this.$Progress.finish();
        }, response => {
          this.$Progress.fail();
          // error callback
        });
      }
    },
    watch: {
      goalId: function () {
        this.loadReports();
      },
      summaryId: function () {
        this.loadReports();
      },
      interval: function () {
        this.loadReports();
      }
    }
  }
</script>
