<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="portlet light">
    <div class="portlet-title tabbable-line">
      <div class="caption">
        <span class="caption-subject bold font-dark uppercase">Подключить новый аккаунт Яндекс.Метрики</span>
      </div>
    </div>
    <div class="portlet-body form">
        <a class="btn green-meadow" id="bs_growl_show" :disabled="disabledRedirect"
           v-on:click="redirectToDirect">Подключить аккуант</a>
    </div>
  </div>
</template>
<script>
  const YANDEX_OAUTH_URL = "https://oauth.yandex.ru";
  const YANDEX_OAUTH_RESOURCE = "/authorize?response_type=code&client_id=";
  export default {
    data() {
      return {
        applicationId: null
      }
    },
    created() {
      this.$http.get("/configuration/application/id").then(response => {
          this.applicationId = response.bodyText;
        },
        err => {
        });
    },
    methods: {
      redirectToDirect() {
        if (this.applicationId) {
          window.location = YANDEX_OAUTH_URL
            + YANDEX_OAUTH_RESOURCE
            + this.applicationId
            + '&state=ADD_PROJECT';
        }
      }
    },
    computed: {
      disabledRedirect() {
        return this.applicationId === null;
      }
    }
  }
</script>
<style>

</style>
