<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div class="col-md-12 col-sm-12">
    <div class="portlet">
      <div class="portlet-title">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Создание нового проекта</span>
        </div>
      </div>
    </div>

    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Выбрать из списка доступных</span>
        </div>
      </div>
      <div class="portlet-body form">
        <select class="bs-select form-control select-counters-length" v-model="counterSelector">
          <option disabled value="">Выберите счетчик</option>
          <optgroup v-for="token in tokens" :label="token.name">
            <option v-for="counter in token.counters"
                    :value="{ counter: counter.id, token: token.id, name: counter.name  }">{{counter.name}}
            </option>
          </optgroup>
        </select>
      </div>
      <div class="portlet-body">
        <a class="btn green-meadow" id="bs_growl_show" :disabled="buttonDisabled" v-on:click="addProject">Добавить</a>
      </div>
    </div>
    <new-account></new-account>
  </div>
</template>
<script>
  import {each, find} from 'lodash'
  import NewAccount from './add-new-account'
  export default {
    components: {
      'new-account': NewAccount
    },
    data() {
      return {
        counterSelector: '',
        tokens: [],
        buttonLock: false
      }
    },
    computed: {
      buttonDisabled() {
        return this.buttonLock || this.counterSelector === ''
      }
    },
    created() {
      this.$Progress.start();
      this.$http.get('/api/counters/unused').then(response => {
        let accountNumber = 1;
        each(response.body, counter => {
          const foundedToken = find(this.tokens, ['id', counter.tokenId]);
          if (foundedToken) {
            foundedToken.counters.push({
              id: counter.externalId,
              name: counter.name
            })
          } else {
            this.tokens.push({
              id: counter.tokenId,
              name: 'Аккаунт #' + accountNumber,
              counters: [{
                id: counter.externalId,
                name: counter.name
              }]
            });
            accountNumber++;
          }
        });
        this.$Progress.finish();
      }, response => {
        this.$Progress.fail();
      });
    },
    methods: {
      addProject: function (event) {
        this.$Progress.start();
        this.buttonLock = true;
        this.$http.post('/api/projects', {
          tokenId: this.counterSelector.token,
          externalCounterId: this.counterSelector.counter,
          name: this.counterSelector.name
        })
          .then(response => {
            this.$router.push({name: 'Projects'});
            this.$Progress.finish();
          }, response => {
            this.buttonLock = false;
            this.$Progress.fail();
          });

      }
    }
  }
</script>
<style>
  .select-counters-length {
    width: 250px;
  }
</style>
