<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div>
    <div class="col-md-12 col-sm-12">
      <div class="portlet">
        <div class="portlet-title tabbable-line">
          <div class="caption">
            <span class="caption-subject bold font-dark uppercase">
              Аудит по "{{project}}" за {{date}}
            </span>
          </div>
          <div class="actions">
            <a :href="'/resources/summaries/'+summaryId+'/pdf?' + filersUrl" download="dr-report.pdf"
               class="btn btn-sm btn-circle btn green easy-pie-chart-reload">
              <i class="fa fa-download" aria-hidden="true"></i> Скачать в PDF
            </a>
          </div>
        </div>
        <div class="portlet-body">
          <div class="summary-goal-selector">
            <label class="summary-goal-selector__label">Цель:</label>
            <select class="summary-goal-selector__selector form-control input-large" v-model="chosenGoal">
              <option v-for="goal in goals" :value="goal.id">{{goal.name}}</option>
            </select>
          </div>
        </div>
        <div class="portlet-body">
          <div class="btn-group">
            <button type="button" :class="['btn', defaultDate == 'TODAY' ? 'green' :  'btn-default']" value="TODAY"
                    v-on:click="reportDate">сегодня
            </button>
            <button type="button" :class="['btn', defaultDate == 'YESTERDAY' ? 'green' :  'btn-default']"
                    value="YESTERDAY" v-on:click="reportDate">вчера
            </button>
            <button type="button" :class="['btn', defaultDate == 'LAST_7_DAYS' ? 'green' :  'btn-default']"
                    value="LAST_7_DAYS" v-on:click="reportDate">последние 7 дней
            </button>
            <button type="button" :class="['btn', defaultDate == 'LAST_30_DAYS' ? 'green' :  'btn-default']"
                    value="LAST_30_DAYS" v-on:click="reportDate">последние 30 дней
            </button>
            <button type="button" :class="['btn', defaultDate == 'LAST_MONTH' ? 'green' :  'btn-default']"
                    value="LAST_MONTH" v-on:click="reportDate">последний месяц
            </button>
          </div>
        </div>
      </div>
    </div>
    <reports
      :goalId="chosenGoal"
      :summaryId="summaryId"
      :types="types"
      :interval="defaultDate"
    ></reports>
  </div>
</template>
<script>
  import reports from '../reports'

  export default {
    components: {
      'reports': reports
    },
    data() {
      return {
        defaultDate: 'LAST_MONTH',
        externalGoals: [],
        chosenGoal: null,
        project: null,
        summaryId: this.$route.params.summaryId,
        date: null,
        types: [
          'pagesWithHighFailureRateReport',
          'referringSourceReport',
          'directSearchPhraseReport',
          'visitsForTimeIntervalReport',
          'yandexAdvertisingNetworkSiteReport',
          'searchEngineOptimizationReport',
          'searchPhraseReport'
        ]
      }
    },
    methods: {
      reportDate: function (event) {
        this.defaultDate = event.target.value;
      }
    },
    created() {
      this.$Progress.start();
      this.$http.get('/api/summaries/' + this.summaryId).then(response => {
        this.externalGoals = response.body.goals;
        this.date = response.body.date;
        this.project = response.body.project;
        this.$Progress.finish();
      }, response => {
        this.$Progress.fail();
      });
    },
    computed: {
      goals() {
        if (this.externalGoals.length !== 0) {
          return [{
            name: "Общая статистика",
            id: null
          }].concat(this.externalGoals);
        } else {
          return [{
            name: "Нет целей в счетчике",
            id: null
          }]
        }
      },
      filersUrl() {
        let query = 'types=' + this.types.join();
        query += '&interval=' + this.defaultDate;
        if (this.chosenGoal) {
          query += '&goal=' + this.chosenGoal
        }
        return query;
      }
    }
  }
</script>
<style>

  .summary-goal-selector {
    margin-top: 3px;
    margin-bottom: 7px;
  }

  .summary-goal-selector__label {
    font-weight: bold;
    color: #000;
    display: inline-block;
    margin-right: 5px;
  }

  .summary-goal-selector__selector {
    display: inline-block
  }
</style>
