<template>
  <div id="welcome">
    <div class="header promo-section">
      <div class="header__layout">
        <div class="header__logo">
          <div class="logo"></div>
        </div>
        <div class="header__authority">
          <a class="header__registration a_pink" href="/account/registration/simple">
            Создать аккаунт
          </a>
          <a class="header__login btn_sm btn_pink" href="/login.html">
            Войти
          </a>
        </div>
      </div>
    </div>
    <div class="slogan">
      <div class="slogan__text">Веб</div>
      <div class="slogan__tilda">~</div>
      <div class="slogan__text">аналитика</div>
      <div class="slogan__arrow"></div>
      <div class="slogan__text">просто</div>
    </div>

    <div class="main-header">
      <div class="yellow-info-section">
        <div class="yellow-info-section__angle"></div>
        <div class="yellow-info-section__circle-question-border"></div>
        <div class="yellow-info-section__yellow-padding"></div>
      </div>
      <div class="main-header__how-it-works main-header_center-container">
        <div class="main-header__system-illustration"></div>
        <div class="main-header__arrow"></div>
        <div class="main-header__result-panel">
          <div class="grey-box">
            <div class="grey-box-illustration">
              <div class="grey-box-illustration-left">
                <div class="doc-img"></div>
              </div>
              <div class="grey-box-illustration-right">
                <div class="grey-box-description">
                  Все нужные метрики в одном отчете
                </div>
              </div>
            </div>
            <div class="grey-box-link">
              <a href="/account/registration/simple" class="grey-box-link-btn">Получить аудит бесплатно</a>
            </div>
          </div>
        </div>
      </div>
      <div class="section-title">Оставьте рутину машинам</div>
      <div class="metrics-wave">
        <div class="metrics-wave__wave"></div>
        <div class="metrics-wave__white-blur"></div>
        <div class="main-header__features">
          <div class="circle-feature-container circle-feature-container_sources">
            <div class="circle-feature-container__illustration">
              <img src="static/images/feature-arrows-lg.png">
            </div>
            <div class="circle-feature-container__description">
              Аудит каналов привлечения трафика
            </div>
          </div>
          <div class="circle-feature-container circle-feature-container_visits">
            <div class="circle-feature-container__illustration">
              <img src="static/images/feature-metrics-lg.png">
            </div>
            <div class="circle-feature-container__description">
              Изменение посещаемости
            </div>
          </div>
          <div class="circle-feature-container circle-feature-container_phrases">
            <div class="circle-feature-container__illustration">
              <img src="static/images/feature-tags-lg.png">
            </div>
            <div class="circle-feature-container__description">
              Эффективность ключевых фраз в Яндекс.Директ
            </div>
          </div>
          <div class="circle-feature-container circle-feature-container_reject">
            <div class="circle-feature-container__illustration">
              <img src="static/images/feature-back-arrows-lg.png">
            </div>
            <div class="circle-feature-container__description">
              Страницы с высоким показателем отказов
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="manage-changes promo-section">
      <div class="section-title section-title_margin">Управляйте изменениями</div>
      <div class="manage-changes__padding"></div>

      <div class="manage-changes__container">
        <div class="mc-goal">
          <div class="mc-goal__bad-phrase"></div>
          <div class="mc-goal__content mc-goal_content-left">
            <div class="mc-goal__title">Неуспешные поисковые фразы</div>
            <div class="mc-goal__description">
              Отчёт покажет посещаемость за прошлый месяц, а также насколько она изменилась.
            </div>
          </div>
        </div>
      </div>

      <div class="manage-changes__container manage-changes_negative-margin">
        <div class="mc-goal mc-goal_revert">
          <div class="mc-goal__sources"></div>
          <div class="mc-goal__content">
            <div class="mc-goal__title mc-goal_avoid-right-image-title">Источники переходов на сайт</div>
            <div class="mc-goal__description mc-goal_avoid-right-image-description">
              Узнайте по какому каналу трафика было больше всего переходов на сайт, а какой принёс больше всего
              конверсий.
            </div>
          </div>
        </div>
      </div>

      <div class="manage-changes__container">
        <div class="mc-goal">
          <div class="mc-goal__visits"></div>
          <div class="mc-goal__content mc-goal_content-left">
            <div class="mc-goal__title">Посещаемость сайта за последние 30 дней</div>
            <div class="mc-goal__description">
              Покажет ключевые фразы с низкой конверсией и высоким показателем отказа. Вам останется только их
              отключить.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="service-feature promo-section service-feature_padding">
      <div class="section-title section-title_margin">Совершенно другой сервис</div>
      <div class="manage-changes__padding"></div>
      <div class="service-feature-box">
        <div class="service-feature-box__illustration">
          <div class="simple"></div>
        </div>
        <div class="service-feature-box__title">
          Просто
        </div>
        <div class="service-feature-box__description">
          Чтобы разобраться, не нужно знать аналитику.
        </div>
      </div>

      <div class="service-feature-box">
        <div class="service-feature-box__illustration">
          <div class="cozily"></div>
        </div>
        <div class="service-feature-box__title">
          Удобно
        </div>
        <div class="service-feature-box__description">
          Не нужно ничего настраивать. Все отчёты доступны сразу после регистрации.
        </div>
      </div>

      <div class="service-feature-box">
        <div class="service-feature-box__illustration">
          <div class="free"></div>
        </div>
        <div class="service-feature-box__title">
          Бесплатно
        </div>
        <div class="service-feature-box__description">
          Не нужно платить за аудит. Сообщите нам, если Вам нужна персональная доработка.
        </div>
      </div>
    </div>

    <div class="for-who-section promo-section">
      <div class="it-useful-for">
        <div class="it-useful-for__bg"></div>
        <div class="it-useful-for__agency it-useful-for_illustration-shadow"></div>
        <div class="it-useful-for__title">Для Агентств</div>
        <div class="it-useful-for__description">
          Убиваем рутину, автоматизируем отчетность для клиента. Значит больше времени на реальную работу над
          показателями рекламных кампаний. Даем простор для персонализации и комментирования.
        </div>
      </div>
      <div class="it-useful-for it-useful-for_float-right">
        <div class="it-useful-for__bg"></div>
        <div class="it-useful-for__business it-useful-for_illustration-shadow"></div>
        <div class="it-useful-for__title">Для бизнеса</div>
        <div class="it-useful-for__description">
          Ищем решения, которые помогают сохранить время и деньги.
          Вы получаете внешний аудит сайта, данные в котором отражают действительность. Вам остается только
          принять решение.
        </div>
      </div>
    </div>

    <div class="feedback-addition-feature-section promo-section">
      <div class="addition-feature">
        <div class="addition-feature__request">
          <div class="addition-feature__title">Нужен расширенный функционал?</div>
          <div class="addition-feature__info">
            <a class="text-active text-active-underling" v-on:click="feedback">Оставьте заявку</a>
            и мы свяжемся с вами
          </div>
          <div v-if="feedbackPopupActive" class="popup-form">
            <div class="popup-form__content">
              <div class="popup-form__angle"></div>
              <div class="popup-form__close">
                <i class="glyphicon glyphicon-remove" v-on:click="closeFeedback"></i>
              </div>

              <div class="popup-form__title">Заявка на расширенный функционал</div>

              <div class="popup-form__input-group">
                <input class="popup-form_input popup-form_input-big-size" v-model="name" placeholder="Имя"/>
              </div>

              <div class="popup-form__input-group">
                <input class="popup-form_input popup-form_input-big-size" v-model="contact" placeholder="Ваш контакт"/>
              </div>
              <div class="popup-form__input-group">
                <textarea class="popup-form_input popup-form_textarea-big-size"
                          placeholder="Какие функции Вам нужны?" v-model="text"></textarea>
              </div>
              <div
                :class="['popup-form__submit', 'popup-form_sticky-bottom', !buttonActive ? 'popup-form__submit-disable' : '']"
                v-on:click="sendFeedback">Отправить заявку
              </div>
            </div>
          </div>
        </div>
        <div class="addition-feature__airplane"></div>
      </div>
    </div>

    <div class="it-is-easy promo-section">
      <div class="section-title section-title_margin">Три простых шага для старта</div>
      <div class="it-is-easy__justify">
        <div class="easy-step">
          <div class="easy-step__step-icon">
            <div class="sn-1"></div>
          </div>
          <div class="easy-step__title text-active">Создайте аккаунт</div>
          <div class="easy-step__info">
            Укажите email. На него мы отправим пароль для доступа.
          </div>
        </div>

        <div class="easy-step">
          <div class="easy-step__step-icon">
            <div class="sn-2"></div>
          </div>
          <div class="easy-step__title">Укажите счётчик Яндекс.Метрики</div>
          <div class="easy-step__info easy-step_custom-margin">
            Ваши данные будут защищены.
          </div>
        </div>

        <div class="easy-step">
          <div class="easy-step__step-icon">
            <div class="sn-3"></div>
          </div>
          <div class="easy-step__title">Немного подождите</div>
          <div class="easy-step__info">
            На подготовку отчёта нужно несколько секунд.
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer-back">
      </div>
      <div class="footer-up">
      </div>
      <div class="footer-content">
        <div class="footer-content-btn">
          <a href="/account/registration/simple" class="footer-btn">
            Создать аккаунт
          </a>
        </div>
        <div class="footer-logo"></div>
        <div class="footer-content-contact">
          Санкт-Петербург &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы всегда на связи: digitalreactor@yandex.ru
        </div>
      </div>
    </footer>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        name: null,
        contact: null,
        text: null,
        feedbackPopupActive: false
      }
    },
    methods: {
      feedback: function () {
        this.feedbackPopupActive = true;
      },
      closeFeedback: function () {
        this.feedbackPopupActive = false;
      },
      sendFeedback: function () {
        if (this.buttonActive) {
          this.$http.post('/feedback', {
            name: this.name,
            contact: this.contact,
            message: this.text,
          }).then(response => {
          }, response => {
            alert('Не удалось отправить;(');
          });
          this.feedbackPopupActive = false;
        }
      }
    },
    computed: {
      buttonActive: function () {
        return this.text !== null;
      }
    }
  }
</script>
<style>
  .text-active-underling:hover {
    text-decoration: underline;
  }

  .popup-form_input {
    border: #D3D3D3 solid 1px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
  }

  .popup-form_input:focus {
    outline: none 0;
  }

  .popup-form {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 14px 52.92px 1.08px rgba(23, 4, 43, 0.36);
    height: 350px;
    width: 450px;
    border-radius: 3%;
    z-index: 3;
  }

  .popup-form__content {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
    text-align: center;
  }

  .popup-form__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 13px;
  }

  .popup-form__submit {
    font-size: 16px;
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 44px;
    text-align: center;
    display: inline-block;
    border-radius: 22px;
    background-color: rgb(241, 121, 122);
    width: 180px;
    height: 44px;
  }

  .popup-form__submit:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(231, 116, 116);
  }

  .popup-form__submit-disable {
    background-color: rgba(223, 116, 116, 0.71);
  }

  .popup-form__submit-disable:hover {
    background-color: rgba(223, 116, 116, 0.71);
  }

  .popup-form_textarea-big-size {
    height: 80px;
    padding-left: 5px;
    padding-top: 5px;
  }

  .popup-form_input-big-size {
    height: 45px;
    padding-left: 5px;
  }

  .popup-form_sticky-bottom {
    position: absolute;
    bottom: 20px;
    left: 133px;
  }

  .popup-form__close {
    position: absolute;
    right: 12px;
    top: 8px;
  }
</style>
