<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Популярные фразы в поисковых системах</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
                    <span style="font-size: 14px">
                      В данном отчете представлены самые популярные поисковые фразы,
                      по которым клиенты смогли найти ваш сайт в этом и прошлом отчетном периоде.
                      В отчете вы можете увидеть изменение показателей по сравнению с предыдущем периодом в процентах.
                    </span>
          </div>
        </div>

        <div v-for="engine in searchPhraseReport.engines">
          <div class="row">
            <div class="col-md-12">
              <h3>{{engine.engineName}}</h3>
            </div>
          </div>
          <div v-if="engine.searchPhrases.length > 0">
            <phrase-table :phrases="engine.searchPhrases" :isGoal="isGoal"></phrase-table>
          </div>
          <div v-else>
              <h2 class="text-center">Нет данных для подготовки отчета</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Комментарий </h3>
            <span style="font-size: 14px">
              Существует несколько причин изменения количества переходов по поисковой фразе:
              изменение позиции в поисковой системе, снижение тренда, увеличение доли рекламного поиска или изменение сниппетов.
              Для диагностирования точной причины необходимо проверить позиции в естественной выдаче,
              проверить изменения тренда частоты запросов за прошлые годы,
              проверить отображение вашего сайта в поисковой выдаче по сравнению с конкурентами.
              Для проверки трендов можно использовать инструмент wordstat.yandex.ru.
            </span>
          </div>
        </div>

      </div>
    </div>
  </div>

</template>
<script>
  import phraseTable from './phrase-table.vue'
  export default {
    props: ['searchPhraseReport', 'isGoal'],
    components: {'phrase-table': phraseTable},
    data() {
      return {}
    }
  }
</script>
