<template>
  <div class="table-scrollable">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Поисковая фраза</th>
        <th>Ссылка</th>
        <th>Визиты</th>
        <th>Показатель отказов</th>
        <th v-if="isGoal">Конверсия по цели</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="phrase in phrases">
        <td>{{phrase.searchPhrase}}</td>
        <td>{{phrase.url}}</td>
        <td>{{phrase.visits.value}} (<percent-painter :number="phrase.visits.changePercent"></percent-painter>)</td>
        <td>{{phrase.bounceRate.value.toFixed(2)}} (<percent-painter :number="phrase.bounceRate.changePercent"></percent-painter>)</td>
        <td v-if="isGoal">{{phrase.conversion.value.toFixed(2)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
    props: ['phrases', 'isGoal']
  }
</script>
