<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Отчет по продвижению в естественной выдаче поисковых систем (SEO)</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
            <span style="font-size: 14px">
              В этом отчете представлены данные о продвижении в естественной выдаче поисковых систем.
            </span>
          </div>
        </div>
        <div>
          <vue-chart
            chart-type="Line"
            :columns="columns"
            :rows="metrics"
            :options="options"
          ></vue-chart>
        </div>

        <div v-for="engine in enginesWithTrend">
          <div class="row">
            <div class="col-md-12">
              <h3>За последний выбранный промежуток</h3>
              <h3>{{engine.engineName}}</h3>

              <span style="font-size: 14px">
                <p>
                  Количество переходов из поисковой системы {{engine.engineName}} {{engine.visits.trend}} на
                  {{Math.abs(engine.visits.change)}}(<percent-painter
                  :number="engine.visits.changePercent"></percent-painter>)
                  <br/>
                  <span v-if="isGoal"> Конверсия из поисковой системы {{engine.engineName}} {{engine.conversion.trend}}
                    <span v-if="engine.conversion.isShow"> на {{engine.conversion.change}}(<percent-painter
                      :number="engine.conversion.changePercent"></percent-painter>) </span>
                  </span>
                </p>
              </span>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  function trendTileNeuter(value) {
    if (value > 0) {
      return 'увеличилось';
    } else if (value < 0) {
      return 'уменьшилось'
    } else {
      return 'не изменилось'
    }
  }

  function trendTileWoman(value) {
    if (value > 0) {
      return 'увеличилась';
    } else if (value < 0) {
      return 'уменьшилась'
    } else {
      return 'не изменилась'
    }
  }

  function isShow(value) {
    if (value > 0) {
      return true;
    } else return value < 0;
  }

  export default {
    props: ['searchEngineOptimizationReport', 'isGoal'],
    data()
    {
      return {
        options: {
          interpolateNulls: true,
          width: 900,
          height: 300
        },
        columns: [
          {type: 'string', label: ''},
          {type: 'number', label: 'Яндекс'},
          {type: 'number', label: 'Google'}
        ]
      }
    },
    computed: {
      metrics()
      {
        let metrics = [];
        //Yandex
        let yandexStats = this.searchEngineOptimizationReport.engines[0].intervalStatistics;
        for (let i = 0; i < yandexStats.length; i++) {
          let current = yandexStats[i];
          metrics.push([current.startDate + ":" + current.endDate, current.visits]);
        }

        //Google
        let googleStats = this.searchEngineOptimizationReport.engines[1].intervalStatistics;
        for (let i = 0; i < googleStats.length; i++) {
          let current = googleStats[i];
          metrics[i].push(current.visits);
        }

        return metrics
      },

      enginesWithTrend() {
          let enginesWithTrend = this.searchEngineOptimizationReport.engines;

          for (let i = 0; i < enginesWithTrend.length; ++i) {
            enginesWithTrend[i].visits.trend = trendTileNeuter(enginesWithTrend[i].visits.change);
            enginesWithTrend[i].conversion.trend = trendTileWoman(enginesWithTrend[i].conversion.change);
            enginesWithTrend[i].conversion.isShow = isShow(enginesWithTrend[i].conversion.change)
          }

          return enginesWithTrend;
      }
    }
  }
</script>
<style></style>
