<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Отчёт о посещаемости сайта</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="report-visits">
          <div class="report-visits__indicators">
            <h3>За последний месяц</h3>
            <p>
              {{description}}
              <span v-if="isGoal">{{conversionDescription}}</span>
            </p>
          </div>
          <div class="report-visits__chart">
            <vue-chart
              chart-type="ColumnChart"
              :columns="columns"
              :rows="metrics"
              :options="options"
            ></vue-chart>
          </div>
          <div class="report-visits__advice">
            <h3>Комментарий </h3>
            <span style="font-size: 14px">На посещаемость может влиять сезонность, изменение состава рекламных каналов и изменение видимости сайта в поисковой выдаче.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['visitsForTimeIntervalReport', 'isGoal'],
    data() {
      return {
        columns: [
          {id: 'task', label: 'Task', type: 'string'},
          {id: 'hours', label: 'Визитов', type: 'number'},
          {type: 'string', role: 'style'}
        ],
        options: {
          interpolateNulls: true,
          /* title: "Визиты за 30 дней",*/
          titleTextStyle: {
            bold: false
          },
          chartArea: {
            left: 50
          },
          width: 900,
          height: 300,
          bar: {groupWidth: "95%"}
        }
      }
    },
    computed: {
      metrics() {
        let metrics = this.visitsForTimeIntervalReport.metrics
        var rows = [];
        for (var i = 0; i < metrics.length; i++) {
          rows.push([
            metrics[i].date,
            metrics[i].number,
            metrics[i].dayType == "HOLIDAY" ? 'color: #578EBE' : 'color: #5C9BD1'
          ]);
        }

        return rows;
      },
      description() {
        const percent = this.visitsForTimeIntervalReport.visitChangePercent.toFixed(2);
        switch (this.visitsForTimeIntervalReport.trend) {
          case 'INCREASING': {
            return "Посещаемость увеличилась на " + percent + "% (" + this.visitsForTimeIntervalReport.visitChange + " визитов)."
          }
          case 'DECREASING': {
            return "Посещаемость уменьшилась на " + percent + "% (" + this.visitsForTimeIntervalReport.visitChange + " визитов)."
          }
          case 'UNALTERED': {
            return "Посещаемость не изменилась: " + this.visitsForTimeIntervalReport.visit + " визитов."
          }
        }
      },
      conversionDescription() {
        let conversionChange = this.visitsForTimeIntervalReport.conversionChange;
        let conversionChangePercent = this.visitsForTimeIntervalReport.conversionChangePercent.toFixed(2);
        if (conversionChange === 0) {
          return 'Конверсия не изменилась.';
        } else if (conversionChange > 0) {
          return 'Конверсия увеличилась на ' + conversionChangePercent + '%.';
        } else {
          return 'Конверсия уменьшилась на ' + conversionChangePercent + '%.';
        }
      }
    }
  }
</script>
<style>
  .report-visits__indicators p {
    font-size: 14px;
  }

  .report-visits__indicators h3 {
    margin-top: 0;
  }

  @media screen and (min-width: 1541px) {
    .report-visits {
      position: relative;
      height: 365px;
    }

    .report-visits__chart {
      position: absolute;
      left: 3px;
      top: -15px;
    }

    .report-visits__indicators {
      position: absolute;
      left: 920px;
      max-width: 400px;
      top: 0;
    }

    .report-visits__advice {
      position: absolute;
      bottom: 15px;
    }
  }
</style>
