<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div>
    <link href="/static/css/v2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/page/registration.css" rel="stylesheet" type="text/css"/>
    <div class="container">
      <div class="row text-center logo-text">
        <h1>Digital Reactor</h1>
      </div>
      <div v-if="error != null">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 nopadding">
            <div class="note note-danger">
              <h4 class="block">{{error.title}}</h4>
              <p> {{error.message}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
          <div v-if="start">
            <div>
              <h2>Регистрация</h2>
            </div>
            <div>
              <p>Введите ваш email. На него будет выслан пароль для получения отчета.</p>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="email" class="control-label">Email:</label>
                  <input id="email" type="email" class="form-control" placeholder="Ваша почта" v-model="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="password" class="control-label">Пароль:</label>
                  <input id="password" type="password" class="form-control" placeholder="Введите пароль"
                         v-model="inputPassword">
                </div>
              </div>
            </div>
            <div>
              <button type="button" class="btn green-meadow" :disabled="disabled" v-on:click="register">
                Зарегестрироваться
              </button>
            </div>
          </div>
          <div v-if="!start">
            <div>
              <h2>Завершение</h2>
            </div>
            <div>
              <p>
                Ваш логин и пароль был отправлен на почту.
              </p>
            </div>
            <div>
              <a href="/login.html">
                <button type="button" class="btn green-meadow">Перейти к отчёту</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const USER_REGEXP_CONDITION = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  const MIN_PASSWORD_LENGTH = 6;
  export default {
    data() {
      return {
        email: null,
        password: null,
        error: null,
        disabled: false,
        start: true
      }
    },
    methods: {
      register: function () {
        let isValidPassword;
        if (this.inputPassword != null) {
          this.password = this.inputPassword.trim();
          isValidPassword = this.isValidPassword(this.password);
        } else {
          isValidPassword = true;
        }

        const isValidEmail = this.isValidEmail(this.email);

        if (isValidEmail || isValidPassword) {
          let titleMessage;

          if (isValidEmail) {
            titleMessage = "Недопустимый адрес электронной почты";
          } else {
            titleMessage = "Слишком слабый пароль";
          }

          this.error = {
            title: titleMessage,
            message: "Повторите попытку ввода или обратитесь в службу поддержки."
          };
        } else {
          this.$http.post('/registration/check/email', {
            email: this.email
          }).then(response => {
              if (response.bodyText === 'true') {
                this.$http.post('/registration/simple/account', {
                  email: this.email,
                  password: this.password
                }).then(response => {
                    this.start = false;
                  },
                  err => {
                    this.error = {
                      title: "Ошибка при регистрации проекта",
                      message: "Повторите попытку ввода или обратитесь в службу поддержки."
                    };
                  }
                );
              } else {
                this.error = {
                  title: "Превышено ожидание сервера",
                  message: "Попробуйте обратиться позже или свяжитесь с службой поддержки."
                };
              }
            },
            err => {
              this.error = {
                title: "Превышено ожидание сервера",
                message: "Попробуйте обратиться позже или свяжитесь с службой поддержки."
              };
              this.disabled = false;
            }
          );
        }
      },
      isValidPassword(password) {
        return (password.length < MIN_PASSWORD_LENGTH)
      },
      isValidEmail(email) {
        return !USER_REGEXP_CONDITION.test(email);
      }
    }
  }
</script>
<style>
</style>
