/**
    Containers
**/
.promo-section {
    position: relative;
    max-width: 1181px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
}

/**
    Buttons
**/
.a_pink {
    color: rgb(241, 121, 122);
}

.a_pink:hover {
    color: rgb(241, 121, 122);
    text-decoration: none;
}

.btn_sm {
    width: 74px;
    height: 27px;
    font-size: 16px;
    line-height: 27px;
    border-radius: 18px;
}

.btn_pink {
    display: inline-block;
    background-color: rgb(241, 121, 122);
    color: #ffffff;
    font-family: "Roboto";
    border-radius: 18px;
    text-align: center;
}

.btn_pink:hover {
    color: #ffffff;
    text-decoration: none;
}

/**
 Service feature box
 */

.service-feature-box {
    height: 86px;
    width: 366px;
    position: relative;
    display: inline-block;
    margin-bottom: 35px;
}

.service-feature-box__illustration {
    position: absolute;
}

.service-feature-box__title {
    left: 105px;
    position: absolute;
    top: -1px;
    font-size: 18px;
    font-weight: bold;
}

.service-feature-box__description {
    position: absolute;
    top: 29px;
    left: 105px;
    font-size: 14px;
}

@media screen and (max-width: 1200px) {
    .service-feature {
        text-align: center;
    }

    .service-feature-box__description {
        !important;
        text-align: left;
    }

}
