@font-face {
    font-family: BebasNeueBold;
    src: url("/static/fonts/BebasNeue-Bold.ttf");
}

/**
    Header
**/
.header__layout {
    position: relative;
    height: 75px;
    margin-top: 16px;
}

.header__logo {
    position: absolute;
}

.header__authority {
    position: absolute;
    right: 0;
    top: -4px;
}

.header__registration {
    margin-right: 25px;
}

/**
    Slogan
**/
.slogan {
    padding-left: 32px;
    padding-right: 32px;
}

@media screen and (min-width: 1150px) {
    .slogan {
        max-width: 1181px;
        margin: 0 auto;
        width: 100%;
        display: -webkit-box; /* Android 4.3-, Safari */
        -webkit-box-pack: justify; /* Android 4.3-, Safari */
        display: flex;
        justify-content: space-between;
        text-align: justify;
        text-align-last: justify;
    }

    .slogan__arrow {
        margin-top: 23px;
    }
}

@media screen and (max-width: 1150px) {
    .slogan {
        max-width: 700px;
        margin-bottom: 35px;
    }

    .slogan__text {
        margin-bottom: -17px;
    }

    .slogan__tilda {
        margin-left: 7px;
        margin-right: 7px;
        margin-bottom: -17px;
    }

    .slogan__arrow {
        margin-right: 15px;
    }
}

.slogan__text {
    display: inline-block;
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(76, 83, 101);
    text-transform: uppercase;
}

.slogan__tilda {
    display: inline-block;
    font-size: 72px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(241, 121, 122);
    text-transform: uppercase;
}

.slogan__arrow {
    display: inline-block;
    width: 151px;
    height: 59px;
    background: url("../../images/arrow.png");
}

/**
 The main information header
 */

.main-header {
    margin-top: 20px;
    position: relative;
    min-height: 500px;
}

.main-header__how-it-works {
    position: relative;
    padding-top: 17px;
}

.yellow-info-section {
    position: absolute;
    height: 900px;
    width: 100%;
    z-index: -1;
}

.yellow-info-section__circle-question-border {
    height: 191px;
    background-size: cover;
    background: url("../../images/header-up-lg.png") no-repeat center;
}

@media screen and (max-width: 1150px) {
    .yellow-info-section__circle-question-border {
    !important;
        height: 191px;
        background-size: cover;
        background: url("../../images/header-up-md.png") no-repeat left;
    }

    .yellow-info-section__angle {
        position: absolute;
        left: 349px;
        top: -6px;
        width: 72px;
        height: 44px;
        background-image: url("../../images/angle.png");
        background-size: cover;
    }

    .main-header__how-it-works {
        padding-top: 38px;
    }
}

.yellow-info-section__yellow-padding {
    height: 800px;
    width: 100%;
    background-color: #fed586;
}

@media screen and (min-width: 1150px) {
    .main-header_center-container {
        height: 535px;
        max-width: 840px;
        margin: 0 auto;
    }
}

.main-header__system-illustration {
    height: 456px;
    width: 399px;
    background-image: url("../../images/header-reporter-lg.png");
}

.main-header__arrow {
    display: block;
    height: 30px;
    width: 48px;
    margin-left: 30px;
    margin-right: 40px;
    background-image: url("../../images/header-reporter-arrow-lg.png");
}

@media screen and (min-width: 871px) {
    .main-header_center-container {
        height: 535px;
    }

    .main-header__system-illustration {
        float: left;
    }

    .main-header__arrow {
        margin-top: 255px;
        float: left;
    }

    .main-header__result-panel {
        float: left;
        margin-top: 178px;
    }
}

@media screen and (max-width: 870px) {
    .yellow-info-section__yellow-padding {
    !important;
        height: 975px;
    }
    .main-header_center-container {
        height: 790px;
        max-width: 400px;
        margin: 0 auto;
    }

    .main-header__arrow {
        transform: rotate(90deg);
        margin: 35px auto;
    }

    .main-header__result-panel {
        width: 320px;
        margin: 0 auto;
    }
}

.metrics-wave {
    position: relative;
    margin-top: 3px;
}

.metrics-wave__wave {
    position: absolute;
    background-image: url("../../images/wave-lg.png");
    height: 400px;
    width: 100%;
    background-size: cover;
    z-index: -1;
}

.metrics-wave__white-blur {
    top: 0;
    position: absolute;
    height: 400px;
    width: 100%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 42%, rgba(255, 255, 255, 1) 73%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 42%, rgba(255, 255, 255, 1) 73%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.81) 42%, rgba(255, 255, 255, 1) 73%, rgba(255, 255, 255, 1) 99%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
    z-index: -1;
}

.header-reporter-info {
    margin-top: 180px;
    float: left;
}

.header-wave {
    position: relative;
    height: 399px;
    width: 100%;
    background: url("../../images/wave-lg.png") 100% 100% no-repeat;
    background-size: cover;
    margin-top: -250px;
}

.header-base-title-b {
    padding-top: 30px;
    text-align: center;
}

.header-feature {
    margin-top: -280px;
}

.main-header__features {
    padding-top: 125px;
    width: 690px;
    margin: 0 auto;
}

@media screen and (max-width: 1150px) {
    .main-header__features {
    !important;
        width: 691px;
    }
}

.circle-feature-container {
    display: inline-block;
    height: 82px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 13px 98px 0px rgba(205, 145, 106, 0.27);
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.circle-feature-container__illustration {
    float: left;
    margin-right: 19px;
}

.circle-feature-container__description {
    float: left;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
}

.circle-feature-container_phrases .circle-feature-container__illustration {
    padding-top: 10px;
}

.circle-feature-container_sources .circle-feature-container__description {
    margin-top: 3px;
    width: 170px;
}

.circle-feature-container_visits .circle-feature-container__description {
    width: 115px;
}

.circle-feature-container_phrases .circle-feature-container__description {
    margin-top: 3px;
    width: 200px;
}

.circle-feature-container_reject .circle-feature-container__description {
    margin-top: 3px;
    width: 221px;
}

@media screen and (min-width: 871px) {
    .circle-feature-container_visits {
        margin-left: 67px;
    }

    .circle-feature-container_reject {
        margin-left: 25px;
    }
}

@media screen and (max-width: 870px) {
    .main-header__features {}
    .circle-feature-container {
        display:table;
        margin-left: auto;
        margin-right: auto;
    }
}
