<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <span class="caption-subject bold font-dark uppercase">Поисковые фразы Яндекс Директа</span>
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-12">
                    <span style="font-size: 14px">
                        Отчет позволяет определить конверсионные фразы,
                        а так же фразы, перейдя по которыйм пользователи не
                        выполняли конверсий и уходили с сайта.
                    </span>
          </div>
        </div>
        <div v-if="successPhrases.length > 0 || badPhrases.length > 0">
          <div class="row">
            <div class="col-md-12">
              <h3>Успешные поисковые фразы</h3>
            </div>
          </div>

          <phrase-table :phrases="successPhrases" :isGoal="isGoal"></phrase-table>

          <div class="row">
            <div class="col-md-12">
              <h3>Неуспешные поисковые фразы</h3>
            </div>
          </div>
          <phrase-table :phrases="badPhrases" :isGoal="isGoal"></phrase-table>

          <div class="row">
            <div class="col-md-12">
              <h3>Комментарий </h3>
              <span style="font-size: 14px">
                        Рекомендуем проверить запросы из списка "Неуспешные поисковые фразы".
                        Существует несколько причин низких показателей рекламы:
                        нецелевые запросы, нецелевые рекламные объявления,
                        недостаточно качественное изложение торгового предложения на посадочной странице.
                    </span>
            </div>
          </div>
        </div>
        <div v-else>
          <h2 class="text-center">Нет данных для подготовки отчета</h2>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
  import phraseTable from './phrase-table.vue'
  export default {
    props: ['directSearchPhraseReport', 'isGoal'],
    components: {'phrase-table': phraseTable},
    data() {
      return {}
    },
    computed: {
      successPhrases() {
        return this.directSearchPhraseReport.successPhrases;
      },
      badPhrases() {
        return this.directSearchPhraseReport.badPhrases;
      }
    }
  }
</script>
