<template>
  <div class="table-scrollable">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Поисковая фраза</th>
        <th>Визиты</th>
        <th>Отказы</th>
        <th>Глубина просмотра</th>
        <th>Время на сайте</th>
        <th v-if="isGoal">Конверсия</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="phrase in phrases">
        <td>{{phrase.searchPhrase}}</td>
        <td>{{phrase.visits}}</td>
        <td>{{phrase.bounceRate.toFixed(2)}}</td>
        <td>{{phrase.pageDepth.toFixed(2)}}</td>
        <td>{{phrase.avgVisitDurationSeconds.toFixed(2)}}</td>
        <td v-if="isGoal">{{phrase.quality.toFixed(2)}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  export default {
      props: ['phrases', 'isGoal']
  }
</script>
