<template>
  <div class="col-md-12 col-sm-12">
    <div class="portlet light">
      <div class="portlet-title tabbable-line">
        <div class="caption">
          <h3>
            Digital Reactor - готовый аудит интернет-маркетинга.
          </h3>
        </div>
      </div>
      <div class="portlet-body">
        <h4>Наша цель:</h4>
        <p>
          Упростить пользователям получение данных для принятия решений в сфере интернет маркетинга.
        </p>
        <h4>О нас:</h4>
        <p>
          Мы хотим сделать сферу интернет маркетинга более честной и прозрачной. Дать малому и среднему бизнесу простой инструмент для оценки эффективности продвижения в интернет пространстве. Также мы хотим упростить работу агентств, чтобы они могли больше времени уделять клиенту и работать над его задачами.
        </p>
        <h4>Пути развития проекта:</h4>
        <p>
          - Регулярное обновление отчетности <br />
          - Хранение и обновление данных из разных источников в реальном времени <br />
          - Интеграция с популярными поставщиками данных (Яндекс.Директ, Яндекс.Метрика, Google Analytics, Google Adwords, YANDEX Wordstat, популярные CRM, системы коллтрекинга, и т.д.) <br />
          - Внедрение математических моделей, разработка собственной платформы по аудиту данных
        </p>
        <h4>Участие:</h4>
        <p>
          Мы постоянно тестируем наш проект и ищем новые способы повысить ценность для наших пользователей. Сообщайте о любых проблемах, замечаниях, идеях по адресу digitalreactor@yandex.ru.
        </p>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {}
    },
    created() {
      this.$Progress.start();
      this.$Progress.finish();
    }
  }
</script>
