<template>
  <div id="app">
    <vue-progress-bar></vue-progress-bar>
    <div class="page-header -i navbar navbar-fixed-top">
      <div class="page-header-inner">
        <div class="page-logo">
          <a href="/">
            <span class="logo-text">DigitalReactor</span>
          </a>
        </div>
        <div class="header-logout">
          <span class="header-current-user"><i class="fa fa-user-o" aria-hidden="true"></i> {{currentUser}}</span>
          <a href="/logout" class="header-logout_link">Выйти</a>
        </div>
      </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
      <sitebar></sitebar>
      <div class="page-content-wrapper">
        <div class="page-content">
          <router-view></router-view>
          <div class="clearfix">
          </div>
        </div>
      </div>
    </div>
    <div class="page-footer">
      <div class="page-footer-inner text-center">
        2016 &copy; DigitalReactor.io.
      </div>
      <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
      </div>
    </div>
  </div>
</template>
<script>
  import sitebar from './components/sitebar/index.vue'
  export default {
    components: {sitebar},
    data() {
        return{
          currentUser: 'user@loading'
        }
    },
    created() {
        this.$http.get("/api/users/current").then(
            response => {
              this.currentUser = response.body.name;
            },
            err => {
                //error
            }
        )
    },
    name: 'app'
  }
</script>
<style>
  .header-logout {
    position: absolute;
    right: 35px;
    top: 13px;
  }

  .header-logout_link {
    color: #44b6ae;
  }

  .header-logout_link:hover {
    color: #44b6ae;
  }

  .page-logo a:hover {
    text-decoration: none;
  }

  .header-current-user {
    color: #ffffff;
  }

  .number-up {
    color: #26C281;
  }

  .text-center {
    text-align: center;
    width: 100%;
  }

  .number-down {
    color: #F36A5A;
  }
</style>
