<template xmlns:v-on="http://www.w3.org/1999/xhtml">
  <div>
    <link href="/static/css/v2.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/page/registration.css" rel="stylesheet" type="text/css"/>
    <div class="container">
      <div class="row text-center logo-text">
        <h1>Digital Reactor</h1>
      </div>
      <progress-bar :action="action"></progress-bar>
      <div v-if="error != null">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 nopadding">
            <div class="note note-danger">
              <h4 class="block">{{error.title}}</h4>
              <p> {{error.message}} </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 mt-wizard-padding">
          <div v-if="action === 'main'">
            <div>
              <h2>Регистрация</h2>
            </div>
            <div>
              <p>Введите ваш email. На него будет выслан пароль для получения отчета.</p>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="email" class="control-label">Email:</label>
                  <input id="email" type="email" class="form-control" placeholder="Ваша почта" v-model="email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="password" class="control-label">Пароль:</label>
                  <input id="password" type="password" class="form-control" placeholder="Введите пароль"
                         v-model="inputPassword">
                </div>
              </div>
            </div>
            <div>
              <button type="button" class="btn green-meadow" :disabled="disabled" v-on:click="goToInformationStep">
                Далее
              </button>
            </div>
          </div>
          <div v-if="action === 'access'">
            <div>
              <h2>Доступ к Яндекс.Метрике</h2>
            </div>
            <div>
              <p>Для подготовки аудита нам нужен доступ к вашему счетчику.</p>
            </div>
            <div>
              <button type="button" class="btn green-meadow" v-on:click="goToSiteStep">Предоставить доступ</button>
            </div>
          </div>
          <div v-if="action === 'sites'">
            <div>
              <h2>Создание отчета</h2>
            </div>
            <div>
              <p>Выберите счетчик, который требуется проанализировать.</p>
            </div>
            <div class="row">
              <div class="col-md-5 loading" v-if="loadingCounters">
                <img src="/static/images/loading.gif"/>
              </div>
              <div id="project-selector" class="col-md-5" v-if="!loadingCounters">
                <div class="form-group">
                  <label for="project-list" class="control-label">Счётчик:</label>
                  <select id="project-list" class="bs-select form-control" v-model="counterSelector">
                    <option v-for="counter in counters"
                            :value="counter">{{counter.name}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div>
              <button type="button" class="btn green-meadow" :disabled="counterSelector == null && disabled"
                      v-on:click="save">Получить отчёт
              </button>
            </div>
          </div>
          <div v-if="action === 'finish'">
            <div>
              <h2>Завершение</h2>
            </div>
            <div>
              <p>
                Ваш логин и пароль был отправлен на почту.
              </p>
            </div>
            <div>
              <a href="/login.html">
                <button type="button" class="btn green-meadow">Перейти к отчёту</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import ProgressBar from './progress-bar.vue'
  const USER_REGEXP_CONDITION = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  const MIN_PASSWORD_LENGTH = 6;
  const POSSIBLE = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
  const CONST_SALT = "CONST_SALT";
  let YANDEX_OAUTH_URL = "https://oauth.yandex.ru";
  const YANDEX_OAUTH_RESOURCE = "/authorize?response_type=code&state=NEW_USER&client_id=";
  export default {
    components: {
      'progress-bar': ProgressBar
    },
    data() {
      return {
        email: null,
        inputPassword: null,
        password: null,
        salt : null,
        state: null,
        counterSelector: null,
        counters: [],
        error: null,
        loadingCounters: true,
        disabled: false
      }
    },
    created() {
      if (this.action === 'sites') {
        this.loadCounters(this.$route.params.state);
      }
    },
    computed: {
      action() {
        if (!this.$route.params.action) {
          return 'main';
        }
        return this.$route.params.action;
      }
    },
    methods: {
      goToInformationStep() {
        this.error = null;
        this.disabled = true;

        let isValidPassword;
        if (this.inputPassword != null) {
          this.password = this.inputPassword.trim();
          isValidPassword = this.isValidPassword(this.password);
        } else {
            isValidPassword = true;
        }

        const isValidEmail = this.isValidEmail(this.email);

        if (isValidEmail || isValidPassword) {
          let titleMessage;

          if (isValidEmail) {
            titleMessage = "Недопустимый адрес электронной почты";
          } else {
            titleMessage = "Слишком слабый пароль";
          }

          this.error = {
            title: titleMessage,
            message: "Повторите попытку ввода или обратитесь в службу поддержки."
          };

          this.disabled = false;
          return;
        }

        const hashedPassword = this.hashPassword(this.password);
        this.password = hashedPassword.value;
        this.salt = hashedPassword.salt;

        this.$http.post('/registration/check/email', {
          email: this.email
        })
          .then(response => {
            if (response.bodyText === 'true') {
              this.error = null;
              localStorage.setItem('registration-email', this.email);
              localStorage.setItem('registration-password', this.password);
              localStorage.setItem('registration-var', this.salt);
              this.$router.push({name: 'Registration', params: {action: 'access'}});
            } else {
              this.error = {
                title: "Недопустимый адрес электронной почты",
                message: "Данный адрес уже используется."
              };
            }
            this.disabled = false;
          }, response => {
            this.error = {
              title: "Превышено ожидание сервера",
              message: "Попробуйте обратиться позже или свяжитесь с службой поддержки."
            };
            this.disabled = false;
          });
      },
      goToSiteStep() {
        this.$http.get("/configuration/application/id")
          .then(response => {
              let applicationId = response.bodyText;
              if (applicationId === 'dev') {
                YANDEX_OAUTH_URL = "http://localhost:8080"
              }

              window.location = YANDEX_OAUTH_URL + YANDEX_OAUTH_RESOURCE + applicationId;
            },
            response => {
              //fail
            });
      },
      save() {
        this.disabled = true;

        this.salt = localStorage.getItem('registration-var');
        this.password = localStorage.getItem('registration-password');

        this.password = this.unhash(this.password,this.salt);

        this.$http.post('/registration/account', {
          email: localStorage.getItem('registration-email'),
          password: this.password,
          counterId: this.counterSelector.counterId,
          sessionId: this.$route.params.state,
          name: this.counterSelector.name
        }).then(response => {
          this.$router.push({name: 'Registration', params: {action: 'finish'}});
          this.disabled = false;
        }, err => {
          this.error = {
            title: "Ошибка при регистрации проекта",
            message: "Повторите попытку ввода или обратитесь в службу поддержки."
          };
        });
      },
      loadCounters: function (session) {
        this.$http.get('/registration/counters/' + session)
          .then(response => {
            this.counters = response.body;
            if (this.counters.length > 0) {
              this.counterSelector = this.counters[0];
            } else {
              this.error = {
                title: "В данных от Yandex.Metrika нет доступных счётчиков",
                message: "Проверьте выбранный аккаунт и повторите попытку снова."
              };
            }
            this.loadingCounters = false;
          }, response => {
            this.error = {
              title: "Ошибка загрузки данных от Yandex.Metrika",
              message: "Повторите попытку ввода или обратитесь в службу поддержки."
            };
          });
      },
      isValidPassword(password) {
        return (password.length < MIN_PASSWORD_LENGTH)
      },
      isValidEmail(email) {
        return !USER_REGEXP_CONDITION.test(email);
      },
      random(value)
      {
        return Math.floor(Math.random() * (value - 1)) + 1;
      },
      randomString(randomStringLen) {
        let text = "";

        for (let i = 0; i < randomStringLen; i++)
          text += POSSIBLE.charAt(Math.floor(Math.random() * POSSIBLE.length));

        return text;
      },
      hashPassword(value) {
        let salt = this.randomString(this.random(100));

        return {
          value: window.btoa(
            value
              .trim()
              .concat(salt)
              .concat(CONST_SALT)
          ),
          salt : salt
        }
      },
      unhash(value,salt) {
        return window.atob(value)
          .slice(0, -salt.length)
          .slice(0, -CONST_SALT.length);
      }
    }
  }
</script>
<style>
</style>
