<template>
  <div class="row">
    <div class="col-md-12">
      <div class="mt-element-step">
        <div class="row step-line">
          <div :class="['col-md-4 mt-step-col first', stepClass(action, 1)]">
            <div class="mt-step-number bg-dark font-grey">1</div>
            <div class="mt-step-title font-grey-cascade">Регистрация</div>
          </div>
          <div :class="['col-md-4 mt-step-col', stepClass(action, 2)]">
            <div class="mt-step-number bg-dark font-grey">2</div>
            <div class="mt-step-title  font-grey-cascade">Доступ к Я.Метрике</div>
          </div>
          <div :class="['col-md-4 mt-step-col last ', stepClass(action, 3)]">
            <div class="mt-step-number bg-dark font-grey">3</div>
            <div class="mt-step-title font-grey-cascade">Создание отчета</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    props: ['action'],
    data() {
      return {}
    },
    methods: {
      stepClass(action, stepNumber) {
        if (action === 'main' && stepNumber === 1) {
          return 'error';
        }
        if (action === 'access' && stepNumber === 2) {
          return 'error';
        } else if (action === 'access' && stepNumber < 2) {
          return 'done';
        }
        if (action === 'sites' && stepNumber === 3) {
          return 'error';
        } else if (action === 'sites' && stepNumber < 3) {
          return 'done';
        }
        if (action === 'finish') {
          return 'done';
        }
      }
    }
  }
</script>
